#retro-player-action {
  width: 35px;
  height: 35px;
  margin: auto;
}

#retro-media-visualizer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #070707ec;
  opacity: 0;
  z-index: -10;
  transition: all 0.5s ease;
}

#retro-media-visualizer.visualizer-enter {
  opacity: 1;
  z-index: 10;
}
#retro-media-visualizer.visualizer-exit {
  opacity: 0;
}

#retro-media-visualizer-action,
#retro-media-visualizer-action-exit {
  align-self: center;
  display: flex;
}

#close-button,
img#retro-player-action,
#retro-media-visualizer-action,
#retro-media-visualizer-action-exit {
  cursor: pointer;
}

#retro-media-visualizer-action.show,
#retro-media-visualizer-action-exit.show {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}

#retro-media-visualizer-action.hide,
#retro-media-visualizer-action-exit.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

#retro-media-visualizer-action.show svg,
#retro-media-visualizer-action-exit.show svg {
  width: 32px;
  height: 32px;
}

#retro-media-visualizer-action.hide svg,
#retro-media-visualizer-action-exit.hide svg {
  width: 0;
  height: 0;
}

#overlay-video,
#overlay-video-1 {
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease;
}

.controls {
  transition: opacity 0.5s ease;
  z-index: 10;
}

.controls.show,
.overlay-video-show {
  opacity: 1;
}

.controls.hide,
.overlay-video-hide {
  opacity: 0;
}

.flex {
  display: flex;
}

.info-container-top {
  top: 0;
  width: 100vw;
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: end;
}

.info-container {
  width: 100vw;
  bottom: 0;
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background: #00000081;
}

#retro-player-action.yt-music {
  margin-left: 10px;
}

.yt-music .info-container-top,
.yt-music .info-container {
  padding: 20px 0;
}

.yt-music #close-button,
.yt-music #fullscreen-action {
  margin-right: 20px;
}

.yt-music #retro-media-visualizer-info {
  margin-left: 20px;
}

.yt-music .song-container {
  margin-left: 10px;
  color: silver;
  font-size: large;
}

.yt-music .song-title {
  color: white;
}

.yt-music .song-subtitle a {
  color: silver !important;
  cursor: inherit;
}
